<mat-toolbar>Registro de ventas</mat-toolbar>
<div class="example-container mat-elevation z8">
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="idVenta">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.idVenta}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="importe">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Importe (S/)</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.importe}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.fecha | date: 'dd/MM/yyyy hh:mm:ss a'}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="nombresColumnas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: nombresColumnas"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<button mat-fab color="accent" (click)="consultarDetalle()" style="float: right; margin-right: 20px">
    <mat-icon>search</mat-icon>
</button>